<nav class="navbar navbar-indigo navbar-fixed-top">
    <div class="container-centre-fixed-nav">
        <div class="menu-icon-container">
            <a id="ips-mega-menu" style="color: #ffffff; text-decoration: none; cursor: pointer"
               (click)="uiService.toggleSidebar()">
                <i class="fa fa-reorder fa-1x"></i>
            </a>
        </div>
        <div class="navbar-header">
            <a id="ips-navbar-brand" href="#">CEP Rule Parser</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right" style="position: relative">
                <li>
                    <a (click)="showTour()">
                        <i class="fa fa-play-circle"></i> Tour
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Settings</a></li>
                        <li><a href="#" (click)="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<preloader></preloader>

<div id="wrapper" [ngClass]="uiService.toggled">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="nav-heading">Parser</li>
            <li>
                <a [routerLink]="['Cepquery','Xmltoquery']"><i class="fa fa-book"></i> XML to Query</a>
            </li>
            <li>
                <a [routerLink]="['Cepquery','Querytoxml']"><i class="fa fa-book"> Query to XML </i> </a>
            </li>

            <li class="nav-heading">User Management</li>
            <li>
            <a [routerLink]="['User','UserList']"><i class="fa fa-user"></i> Users</a>
            </li>
            <li>
                <a [routerLink]="['Role','RoleList']"><i class="fa fa-barcode"></i> Roles</a>
            </li>
        </ul>
    </div>
    <tour-component></tour-component>
    <alert-component></alert-component>
    <div id="page-content-wrapper">
        <div class="container-centre-fixed-alert">
            <feedback></feedback>
        </div>
        <div [ngClass]="{'container-center-fluid' : uiService.isFluidContainer}" class="container-centre-fixed">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div id="footer">
        <div class="container-centre-fixed-nav"></div>
    </div>
</div>

