<div class="content-header-wrapper">
    <div *ngIf="!showAllLogs" class="header-back-arrow" [routerLink]="['/Dashboard/Pod',{id:clusterId,name:podName}]"></div>
    <p *ngIf="podName" class="ips-page-header">Logs of {{podName}}</p>
    <p *ngIf="!podName" class="ips-page-header">Logs of All Pods</p>
</div>

<div class="content-body-wrapper">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="log-filters-switch"
                               (change)="toggleLogFilters($event.target.checked)">
                        <label class="checkbox-info" for="log-filters-switch">
                            Log Filters</label>
                    </div>
                </h4>
            </div>
            <div class="panel-body">
                <div class="col-xs-2 pull-left">
                    <div class="input-group">
                        <select id="log-level-select" class="form-control"
                                (change)="changeLogLevel($event.target.value)">
                            <option>ALL</option>
                            <option>DEBUG</option>
                            <option>ERROR</option>
                            <option>FATAL</option>
                            <option>INFO</option>
                            <option>TRACE</option>
                            <option>WARN</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-4 pull-left">
                    <div class="input-group">
                        <div id="daterange" class="pull-right"
                             style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: auto">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                            <span></span> <b class="caret"></b>
                        </div>
                    </div>
                </div>

                <div *ngIf="showAllLogs" class="col-xs-6 pull-left">
                    <select class="form-control" (change)="onPodChange($event.target.value)">
                        <option *ngFor="#pod of pods" [value]="pod">
                            {{pod}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <data-table [columns]="headers" [service]="tableService"></data-table>
    </div>
</div>
