<div class="content-header-wrapper">
    <div class="row">
        <div class="col-md-5"><p class="ips-page-header"> Projects</p></div>
        <div class="col-md-7">
            <div class="pull-right">
                <a href="javascript:;" class="btn btn-default" (click)="fetchProjects()"><i class="fa fa-refresh"></i>
                    Refresh</a>
                <button class="btn btn-active" [routerLink]="['../ProjectCreate']"><i class="fa fa-plus-square-o"></i>
                    Add
                </button>
            </div>
        </div>
    </div>
</div>

<div class="content-body-wrapper">
    <table class="table table-striped">
        <thead>
        <tr>
            <th width="20%"> Index</th>
            <th class="text-left">Name</th>
            <th class="numeric">Cluster</th>
            <th class="numeric"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#project of projects">
            <td>{{project.id}}</td>
            <td>{{project.name}}</td>
            <td>{{project.clusterId}}</td>
            <td>
                <button class="btn btn-default btn-sm" [routerLink]="['../Project',{id:project.id}]">Configure</button>
                <button class="btn btn-danger btn-sm" (click)="deleteProject(project.id)">Delete</button>
            </td>
        </tr>

        </tbody>
    </table>
</div>