<div>
    <button (click)="addIngress()">Ingress Point +</button>
    <button (click)="addProcessingElement()">Processing Element +</button>
    <button (click)="addJunctionPoint()">JP</button>
    <button (click)="addDecision()">Decision</button>
</div>
<div style="position: relative;width: 100%;height: 600px">
    <div id="workspace" style="position: absolute;top:0;left:0;width: 100%;height: 100%;z-index: 10"></div>
    <div id="svgDiv" style='position:absolute;top:0px;left:0px;width:100%;height:100%;z-index: 0'>
        <svg id="mySVG" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <pattern id="smallGrid" width="10" height="10" patternUnits="userSpaceOnUse">
                    <path d="M 10 0 L 0 0 0 10" fill="none" stroke="gray" stroke-width="0.5"/>
                </pattern>
                <pattern id="grid" width="100" height="100" patternUnits="userSpaceOnUse">
                    <rect width="100" height="100" fill="url(#smallGrid)"/>
                    <path d="M 100 0 L 0 0 0 100" fill="none" stroke="gray" stroke-width="1"/>
                </pattern>
            </defs>
            <rect width="100%" height="100%" fill="url(#grid)"/>
        </svg>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{dump()}}

        {{dumpSettings()}}
    </div>
</div>
<!--Define settings panel for each IPS-Element TYPE here-->

<!--Decision Settings -->
<div class="ips-element-settings panel panel-default" *ngIf="currentModel && currentModel.attributes.type==='ips.DecisionElement'">
    <div class="panel-heading">
        Settings for Decision
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <form class="form form-horizontal">
                    <div class="form-group">
                        <label>Sample option 1</label>
                        <!--Just use settingsObj.xxx to set new settings-->
                        <input type="text" class="form-control" [(ngModel)]="settingsObj.prop1">
                    </div>
                    <div class="form-group">
                        <label>Sample option 2</label>
                        <input type="text" class="form-control" [(ngModel)]="settingsObj.prop2">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 pull-right">
                <button class="btn btn-default" (click)="cancelSettings()">Cancel</button>
                <button class="btn btn-default" (click)="saveSettings()">Save</button>
            </div>
        </div>
    </div>
</div>