<div class="content-header-wrapper">
    <div class="row">
        <div class="col-md-7">
            <p class="ips-page-header">Loggers in Cluster: {{selectedClusterName}}</p>
        </div>
        <div class="col-md-5">
            <div class="pull-right">
                <select class="form-control" (change)="onClusterSelect($event.target.value)">
                    <option *ngFor="#cluster of clusters; #i = index" [value]="i">
                        {{cluster.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="content-body-wrapper">
    <div class="row">
        <data-table [columns]="headers" [service]="tableService"></data-table>
    </div>
</div>