<div class="content-header-wrapper">
    <!--<div class="header-back-arrow" [routerLink]="['.../DatasourceList']"></div>-->
    <ul class="nav nav-pills" style="width: 400px; margin: 0 auto;">
        <li class="active"><a data-toggle="tab" href="#tabConfig">Configurations</a></li>
        <li><a data-toggle="tab" href="#tabCharts">Statistics</a></li>
    </ul>
</div>

<div class="content-body-wrapper">
    <div class="tab-content">
        <div id="tabConfig" class="tab-pane fade in active">
            <div class="bottom-separator row">
                <p class="ips-page-sub-header">Identifiers</p>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Pool Name </label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="clusterName" [(ngModel)]="datasource.poolName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Driver </label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="driverClass"
                                   [(ngModel)]="datasource.driverClass">
                        </div>
                    </div>

                </form>
            </div>

            <div class="bottom-separator row">
                <p class="ips-page-sub-header">Connection Parameters</p>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">URL </label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="url" [(ngModel)]="datasource.url">
                        </div>
                    </div>
                </form>
            </div>

            <div class="bottom-separator row">
                <p class="ips-page-sub-header">Configuration</p>

                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-md-3">Maximum Connections </label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="maximumConnections" [(ngModel)]="datasource.maximumConnections">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Minimum Connections </label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="minimumConnections" [(ngModel)]="datasource.minimumConnections">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Initial Connections </label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="initialConnections" [(ngModel)]="datasource.initialConnections">
                        </div>
                    </div>

                </form>
            </div>

            <div class="bottom-separator row">
                <p class="ips-page-sub-header">Timeouts</p>

                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-md-3">Connection Wait Time </label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="maxWaitMillis" [(ngModel)]="datasource.maxWaitMillis">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Refresh Interval </label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="refreshIntervalMillis" [(ngModel)]="datasource.refreshIntervalMillis">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Max Reuse allowed </label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="maxReuseAllowed" [(ngModel)]="datasource.maxReuseAllowed">
                        </div>
                    </div>

                </form>
            </div>

            <div class="bottom-separator row">
                <p class="ips-page-sub-header">Validation Properties</p>

                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-md-3">Validation Query</label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="validationQuery" [(ngModel)]="datasource.validationQuery">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Validation Timeout </label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="validationTimeoutSeconds" [(ngModel)]="datasource.validationTimeoutSeconds">
                        </div>
                    </div>

                </form>
            </div>

        </div>


        <div id="tabCharts" class="tab-pane fade" style="overflow: hidden;">

            <div class="bottom-separator row">
                <p class="ips-page-sub-header">Summary</p>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Total Connections</label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="numTotal" [(ngModel)]="datasource.numTotal">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Active Connections</label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="numActive"
                                   [(ngModel)]="datasource.numActive">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Available Connections</label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="numAvailable" [(ngModel)]="datasource.numAvailable">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Wait Queue Length</label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="waitQueueLength"
                                   [(ngModel)]="datasource.waitQueueLength">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Last Connection Created on</label>
                        <div class="col-md-6">
                            <input readonly type="date" class="form-control" id="lastConnectionCreatedTime"
                                   [(ngModel)]="datasource.lastConnectionCreatedTime">
                        </div>
                    </div>


                </form>
            </div>

            <div class="bottom-separator row">
                <p class="ips-page-sub-header">Counts</p>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Connections Created</label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="numCreated" [(ngModel)]="datasource.numCreated">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Connections Destroyed</label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="numDestroyed"
                                   [(ngModel)]="datasource.numDestroyed">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Connections Validated</label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="numValidated" [(ngModel)]="datasource.numValidated">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Validation Failures</label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="numValidationFailed"
                                   [(ngModel)]="datasource.numValidationFailed">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Failed Requests</label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="numFailedRequests"
                                   [(ngModel)]="datasource.numFailedRequests">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Pool Created On</label>
                        <div class="col-md-6">
                            <input readonly type="date" class="form-control" id="createdTime"
                                   [(ngModel)]="datasource.createdTime">
                        </div>
                    </div>

                </form>
            </div>

            <div class="bottom-separator row">
                <p class="ips-page-sub-header">Connection Usage</p>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Average Usage</label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="averageUsage" [(ngModel)]="datasource.averageUsage">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Highest Usage (ms)</label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="highestUsageMillis"
                                   [(ngModel)]="datasource.highestUsageMillis">
                        </div>
                    </div>

                </form>
            </div>

            <div class="bottom-separator row">
                <p class="ips-page-sub-header">Connection Lifetime</p>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Average Connection Lifetime</label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="averageConnectionLife" [(ngModel)]="datasource.averageConnectionLife">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Longest Open time (ms)</label>
                        <div class="col-md-6">
                            <input readonly type="text" class="form-control" id="longestOpenMillis"
                                   [(ngModel)]="datasource.longestOpenMillis">
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


