@import "colours";

.navbar-indigo {
  background-color: $theme_blue;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 0 !important;
  /*color: #ffffff;*/
  height: 40px;
}

.navbar-nav > li > a {
  color: #fff;
  /*padding: 10px;*/
}

#ips-mega-menu {
  padding: 10px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  color: #3a5795;
  background-color: #fff;
  border-color: #ffffff;
  cursor: pointer;
}

#ips-navbar-brand {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

#ips-navbar-brand:hover {
  text-decoration: none;
  border-bottom: 0;
}

.navbar-header {
  margin: 10px 15px 0 0;

}