/*preloader*/

header [role="progressbar"] {
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  padding-top: 5px;
  width: 100%;
  background-color: #3a5795;
  -webkit-animation: preloader-background linear 3.5s infinite;
  animation: preloader-background linear 3.5s infinite;
  z-index: 2000;
}

header [role="progressbar"]::before, header [role="progressbar"]::after {
  display: block;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 0;
  height: 5px;
  background: #afa;
  -webkit-animation: preloader-front linear 3.5s infinite;
  animation: preloader-front linear 3.5s infinite;
  content: '';
}

header [role="progressbar"]::before {
  right: 50%;
}

header [role="progressbar"]::after {
  left: 50%;
}

@-webkit-keyframes preloader-background {
  0%, 24.9% {
    background-color: #3a5795;
  }
  25%, 49.9% {
    background-color: #fdba2c;
  }
  50%, 74.9% {
    background-color: #3a5795;
  }
  75%, 100% {
    background-color: #fdba2c;
  }
}

@keyframes preloader-background {
  0%, 24.9% {
    background-color: #3a5795;
  }
  25%, 49.9% {
    background-color: #fdba2c;
  }
  50%, 74.9% {
    background-color: #3a5795;
  }
  75%, 100% {
    background-color: #fdba2c;
  }
}

@-webkit-keyframes preloader-front {
  0% {
    width: 0;
    background-color: #fdba2c;
  }
  24.9% {
    width: 50%;
    background-color: #fdba2c;
  }
  25% {
    width: 0;
    background-color: #3a5795;
  }
  49.9% {
    width: 50%;
    background-color: #3a5795;
  }
  50% {
    width: 0;
    background-color: #fdba2c;
  }
  74.9% {
    width: 50%;
    background-color: #fdba2c;
  }
  75% {
    width: 0%;
    background-color: #3a5795;
  }
  100% {
    width: 50%;
    background-color: #3a5795;
  }
}

@keyframes preloader-front {
  0% {
    width: 0;
    background-color: #fdba2c;
  }
  24.9% {
    width: 50%;
    background-color: #fdba2c;
  }
  25% {
    width: 0;
    background-color: #3a5795;
  }
  49.9% {
    width: 50%;
    background-color: #3a5795;
  }
  50% {
    width: 0;
    background-color: #fdba2c;
  }
  74.9% {
    width: 50%;
    background-color: #fdba2c;
  }
  75% {
    width: 0%;
    background-color: #3a5795;
  }
  100% {
    width: 50%;
    background-color: #3a5795;
  }
}