<div *ngIf="allData.length <= 0">
    <div class="node-health-loading">
        <svg version="1.2" height="300" width="600" xmlns="http://www.w3.org/2000/svg"
             viewport="0 0 60 60" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path id="pulsar" stroke="rgba(234,97,83,1)" fill="none" stroke-width="1" stroke-linejoin="round"
                  d="M0,90L250,90Q257,60 262,87T267,95 270,88 273,92t6,35 7,-60T290,127 297,107s2,-11 10,-10 1,1 8,-10T319,95c6,4 8,-6 10,-17s2,10 9,11h210"/>
            <text x="220" y="260" font-family="'Roboto', sans-serif" font-size="20px" fill="#ea6153">Checking Pulse...
            </text>
        </svg>
    </div>
</div>

<div *ngIf="allData.length > 0" class="panel-group">
    <div *ngFor="#data of allData; #i = index" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" href="#{{'div_' + i}}" aria-expanded="true" [attr.aria-controls]="'div_' + i">
                    Node: {{data.name}}
                </a>
            </h3>
        </div>
        <div *ngIf="data.totalVal > 0">
            <div id="{{'div_' + i}}" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar"
                             [attr.aria-valuenow]="data.totalVal"
                             aria-valuemin="0" aria-valuemax="100" [style.width.%]="data.totalVal"
                             [class.progress-bar-success]="data.barColour == 'green'"
                             [class.progress-bar-warning]="data.barColour == 'orange'"
                             [class.progress-bar-danger]="data.barColour == 'red'">
                            <span class="sr-only">{{data.totalVal}}%</span>
                        </div>
                    </div>
                    <div class="graph-footer" style="padding: 0!important;">
                        <span class="graph-stat">
                            CPU :
                            <span class="graph-stat-value graph-stat-min">
                                {{data.cpuUsage}}% / {{data.numCores}} CPU
                            </span>
                        </span>
                        <span class="graph-stat">
                            Memory :
                            <span class="graph-stat-value graph-stat-max">
                                {{data.memoryUsage}} / {{data.memoryCapacity}}
                            </span>
                        </span>
                        <div *ngFor="#fileSystem of data.fileSystem; #j = index">
                            <span class="graph-stat">
                                File System {{j + 1}} :
                                <span class="graph-stat-value graph-stat-avg">
                                    {{fileSystem.fileSystemUsage}} / {{fileSystem.fileSystemCapacity}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!(data.totalVal > 0)">
             <span class="graph-stat">
                 <h5>
                     Not Active
                 </h5>
             </span>
        </div>
    </div>
</div>