<div class="tour-wrapper" *ngIf="showTour">
    <div class="row tour-header">
        <h3>Hi, {{username}}</h3>
        <p>Take a tour and we will guide you through the IPS!</p>
    </div>
    <div class="tour-body">
        <div class="row tour-row" *ngFor="#tg of getTourGroups()" (click)="startTour(tg)">
            <div class="tour-status">
                <div class="tour-status-ico">
                    <i class="fa fa-circle-thin"></i>
                </div>
                <div class="tour-status-text">
                    {{tg.title}}
                </div>
            </div>
        </div>
        <div class="row tour-row">
            <div class="tour-status">
                <div class="tour-status-ico">
                    <i class="fa fa-check-circle"></i>
                </div>
                <div class="tour-status-text">
                    Creating a Cluster
                </div>
            </div>
        </div>
    </div>
    <div class="tour-footer pull-right">
        <button class="btn btn-default" (click)="hideTour()">No thanks.</button>
    </div>
</div>