<div class="modal fade" id="detailed-logs" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Parameters - Detailed Log Sampling</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Level</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="DEBUG"
                                           [(ngModel)]="paramsMap.level" required>
                                    <p class="help-block">Level to which logging should be escalated for sampling</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Logger</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="org.adroitlogic"
                                           [(ngModel)]="paramsMap.logger" required>
                                    <p class="help-block">Logger whose level should be escalated for sampling</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Period</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="60"
                                           [(ngModel)]="paramsMap.period" required>
                                    <p class="help-block">Period (in seconds) over which to collect detailed logs</p>
                                </div>
                            </div>
                            <div class="pull-right error-msg-label">
                                *All fields are required
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="validateLoggerModelInput()">Done</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="thread-dump" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Parameters - JVM Thread Dump</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Count*</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="3"
                                           [(ngModel)]="paramsMap.count" required>
                                    <p class="help-block">Number of thread dump samples</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Period*</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" placeholder="5"
                                           [(ngModel)]="paramsMap.dumpPeriod" required>
                                    <p class="help-block">Period (in seconds) between thread dumps</p>
                                </div>
                            </div>
                            <div class="pull-right error-msg-label">
                                *All fields are required
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="validateThreadDumpModelInput()">Done</button>
            </div>
        </div>
    </div>
</div>


<div class="content-header-wrapper">
    <div class="row">
        <div class="col-md-5"><p class="ips-page-header"> Troubleshoot Reporter</p></div>
        <div class="col-md-7">
            <div class="pull-right">
                <select class="form-control" (change)="onPodSelect($event.target.value)">
                    <option *ngFor="#pod of pods; #i = index" [value]="i">
                        {{pod.name}}
                    </option>
                </select>
            </div>
            <div class="pull-right" style="margin-right: 5px;">
                <select class="form-control" (change)="onClusterSelect($event.target.value)">
                    <option *ngFor="#cluster of clusters; #i = index" [value]="i">
                        {{cluster.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="content-body-wrapper">
    <div class="row task-description-container">
        <div *ngIf="!hoveredOnTask">
            <p>Hover the mouse over the task pallets on the Available Tasks list to view task details.</p>
            <p>Drag tasks into the Selected Tasks list to pick them for the execution schedule.</p>
        </div>
        <div *ngIf="hoveredTask.name" class="task-description">
            <div class="task-desc-name">{{hoveredTask.name}}</div>
            <div class="task-desc-id">({{hoveredTask.id}})</div>
            <div class="task-desc-desc">{{hoveredTask.description}}</div>
        </div>

    </div>
    <div class="row">
        <div class="dragulaContainerWrapper col-lg-6">
            <div id='allTaskListContainer' class='dragula-container'>
                Available Tasks
                <div *ngFor="#task of availableTasks" class="trb-task" [id]="task.divId"
                     (mouseenter)="onMouseEnter(task.id)" (mouseleave)="onMouseLeave(task.id)">
                    {{task.name}}
                </div>
            </div>
            <div id='customTaskListContainer' class='dragula-container'>
                Selected Tasks
            </div>
        </div>

        <div class="col-lg-6">

            <form class="form" role="form" (ngSubmit)="startTroubleshooting()">
                <div class="form-body">

                    <div class="form-group">
                        <label>Credential Mask</label>
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-male"></i>
                                </span>
                            <input type="text" class="form-control" placeholder="regular"
                                   [(ngModel)]="credentialMask">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-male"></i>
                                </span>
                            <input type="text" class="form-control" placeholder="password"
                                   [(ngModel)]="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Key Factor Name</label>
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-male"></i>
                                </span>
                            <input type="text" class="form-control" placeholder="name"
                                   [(ngModel)]="keyFactoryName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Cipher Name</label>
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-male"></i>
                                </span>
                            <input type="text" class="form-control" placeholder="name"
                                   [(ngModel)]="cipherName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Output File Path</label>
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file"></i>
                                </span>
                            <input type="text" class="form-control" placeholder="/tmp/ultraesb.zip"
                                   [(ngModel)]="outputFilePath">
                        </div>
                    </div>
                </div>

                <div *ngIf="!executionInProgress" class="form-actions">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-active">Execute</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="overallStatus && currentTaskStatus" class="row status-container">
        <div class="ips-page-header">
            Execution Summary
        </div>
        <div class="col-lg-12 summary-sub-heading">
            <label class="control-label col-lg-4">Overall Status</label>
            <div class="col-lg-6">
                {{currentTaskStatus.overallStatus}}
            </div>
        </div>

        <div class="col-lg-12 summary-sub-heading" id="statusReport" style="display: block;">
            <label class="control-label col-lg-3" for="statusReportTable">Execution Summary</label>
            <div class="col-lg-8">
                <table id="statusReportTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Stage</th>
                        <th>Status</th>
                        <th>Time taken</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="#task of overallStatus">
                        <td>{{task.lastUpdated}}</td>
                        <td>{{task.taskId}}</td>
                        <td>{{task.status}}</td>
                        <td class="text-right">{{task.duration}} ms</td>
                        <td>{{task.extraInfo}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
