<div class="content-header-wrapper">
    <ul class="nav nav-pills" style="width: 400px; margin: 0 auto;">
        <li class="active"><a data-toggle="tab" href="#systemHealth" (click)="onTabChange('systemHealth')">System
            Health</a></li>
        <li><a data-toggle="tab" href="#clusterHealth" (click)="onTabChange('clusterHealth')">Cluster
            Health</a></li>
        <li><a data-toggle="tab" href="#nodesHealth" (click)="onTabChange('nodesHealth')">Nodes
            Health</a></li>

    </ul>
</div>


<div class="content-body-wrapper">
    <div class="tab-content">
        <div id="systemHealth" class="tab-pane fade in active">
            <div class="row">
                <health-component></health-component>
            </div>
        </div>
        <div id="clusterHealth" class="tab-pane fade">
            <div class="row">
                <cluster-health-component></cluster-health-component>
            </div>
        </div>
        <div id="nodesHealth" class="tab-pane fade">
            <div class="row">
                <node-health-component></node-health-component>
            </div>
        </div>
    </div>
</div>

