<div class="content-header-wrapper">
    <p *ngIf="createNew" class="ips-page-header"> Create Role</p>
    <p *ngIf="!createNew" class="ips-page-header"> Edit Role</p>
</div>

<div class="content-body-wrapper">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8">
            <div>
                <div class="form">
                    <form *ngIf="createNew" class="form" role="form" (ngSubmit)="onSubmitCreate()">
                        <div class="form-body">
                            <div class="form-group">
                                <label>Role Name</label>
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-cog"></i>
                                </span>
                                    <input type="text" class="form-control" placeholder="Role Name" required
                                           [(ngModel)]="role.name">

                                </div>
                            </div>
                            <div class="form-group">
                                <label>Permissions</label>
                                <tree-view [(directories)]="directories"></tree-view>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-active">Create</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form *ngIf="!createNew" class="form" role="form" (ngSubmit)="onSubmitEdit()">
                        <div class="form-body">
                            <div class="form-group">
                                <label>Role Name</label>
                                <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-cog"></i>
                                </span>
                                    <input type="text" class="form-control" placeholder="Role Name" required
                                           [(ngModel)]="role.name">

                                </div>
                            </div>
                            <div class="form-group">
                                <label>Permissions</label>
                                <tree-view [(directories)]="directories"></tree-view>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-active">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="col-lg-2"></div>

    </div>
</div>