<div class="login-outer">
    <div class="login-middle">
        <div class="register-inner">
            <header>
                <div [hidden]="!submitted"  class="login-preloader" aria-label="Loading, please wait." role="progressbar"></div>
            </header>

            <div style="padding: 30px">
                <div class="login-header">Register for the IPS</div>
                <div>
                    <div class="row">
                        <div class="col-xs-12" [hidden]="!loginError">
                            <div style="display: block;" class="alert alert-danger">
                                <button href="#" class="close" aria-label="close"
                                        (click)="dismissError()">&times;</button>
                                {{loginError}}
                            </div>
                        </div>
                    </div>
                    <form class="form" method="post" role="form" (ngSubmit)="doRegister()">

                        <div class="row">
                            <div class="col-xs-12">
                                <input class="form-control form-control-solid placeholder-no-fix form-group" type="text"
                                       tabindex="1"
                                       autocomplete="off" placeholder="eg:AdroitLogic" required [(ngModel)]="tenant.name"/>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-12">
                                <input class="form-control form-control-solid placeholder-no-fix form-group"
                                       tabindex="2"
                                       type="text" autocomplete="off" placeholder="eg:adroitlogic.org"
                                       required [(ngModel)]="tenant.domain"/>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xs-12">
                                <input class="form-control form-control-solid placeholder-no-fix form-group"
                                       tabindex="2"
                                       type="text" autocomplete="off" placeholder="eg:info@adroitlogic.com"
                                       required [(ngModel)]="tenant.email"/>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-xs-12">
                                <input class="form-control form-control-solid placeholder-no-fix form-group"
                                       tabindex="2"
                                       type="text" autocomplete="off" placeholder="admin username"
                                       required [(ngModel)]="tenantAdmin.name"/>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xs-12">
                                <input class="form-control form-control-solid placeholder-no-fix form-group"
                                       tabindex="2"
                                       type="text" autocomplete="off" placeholder="admin email"
                                       required [(ngModel)]="tenantAdmin.email"/>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xs-12">
                                <input class="form-control form-control-solid placeholder-no-fix form-group"
                                       tabindex="2"
                                       type="text" autocomplete="off" placeholder="password must contain more than 6 characters"
                                       required [(ngModel)]="tenantAdmin.password"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="login-centered">
                                    <button type="submit" class="btn btn-active">Register</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>